* {
    padding: 0;
    margin: 0;
}

.controls {
    background-color: rgb(37, 35, 35);
    border-radius: 25px;
    padding: 25px;
    position: absolute;
    top: 25;
    right: 25;
    display: none;
    align-items: flex-end;
    gap: 15px;
}

.controls .label {
    text-align: center;
}

.controls .image-text-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game {
    width: 100%;
    height: 100%;
}

#game canvas {
    width: 100%;
    height: 100%;
}

.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

.items-list {
    padding: 5px;
    background-color: white;
    position: absolute;
    bottom: 20;
    right: 20;
    display: none;
    flex-direction: column;
    font-weight: bold;
}